div#cabecera {
	padding: 0px;
	height: 100px;
	background-color: #303030;
	color: white;
}

div#cabecera a, div#cabecera a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 

div#cabecera a:hover {
	color: white;
	font-weight: bold;
	text-decoration: underline;
} 

div#cabecera ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 

div#cabecera li {
    float: left;
}

div#cabecera li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

div#cabecera li a:hover {
    background-color: #111;
}

.search-container {
  float: right;
}

input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: right;
  }
  a, input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid #ccc;  
  }
}


.container-3{
  width: 250px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
 
.container-3 input#search{
  width: 250px;
  height: 35px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

.container-3 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-3 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;  
}

.container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;  
}

.container-3 input#search:-ms-input-placeholder {  
  color: #65737e;  
}

.container-3 .icon{
  position: absolute;
  top: 50%;
  margin-left: 9px;
  margin-top: 8px;
  z-index: 1;
  color: hsl(36, 98%, 66%);
 
   -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-3 input#search:focus, .container-3 input#search:active{
  outline:none; 
}

.container-3:hover .icon{
margin-top: 9px;
color: hsl(36, 98%, 54%);

-webkit-transform:scale(1.5); /* Safari and Chrome */
-moz-transform:scale(1.5); /* Firefox */
-ms-transform:scale(1.5); /* IE 9 */
-o-transform:scale(1.5); /* Opera */
 transform:scale(1.5);
}

.icon-login{
  color:  hsl(36, 98%, 66%);
}