
div#contenedor {
	width: 100%;
	margin: auto;
	background-color: #ffffff;
	margin-top: 0px;
}


div#contenido {
	padding: 10px;
	float: left;
	min-height: 4000px;
	width: 100%;
	background-color: white;
	
}

div#contenido a {
    font-family: OpenSans; 
    font-size: 20px;
    font-weight: 400;
	letter-spacing: 0.4px;
	word-spacing: 3px;
	color: blue;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
    text-transform: none;
    text-decoration: none;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 

label {
	width: 4em;
	text-align: right;
	margin-right: 0.5em;
	display: inline-block;
}

button {
	margin-left: 100px;
} 



body {
    background-color: #fff;
    color: #000000;
	margin: 0 !important;
   padding: 0 !important;
 
  
}






* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
 }
