

div#menu a, div#menu a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 



div#menu a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 

div#menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F19532;
    height:40px; 
    display: flex;
    align-items: center;
    justify-content: center;
  
} 



div#menu li{
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float:left;
    
}


div#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float:left;
}



div#menu li a:hover {
    background-color: #3f3f3f;
}


.dropbtn {
    background-color: #F19532;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed; /* Sit on top of the page content */
    width: 20%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 70px;
    right: 0;
    left: 85%;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3f3f3f;}